body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

input, select {
  padding: 8px;
  border-radius: 8px;
  background: #020617;
  color: white;
  border: none;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: white;
}